Repository SkillsFundingAgency/das-admin-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76, @SkillsFundingAgency/das-platform-engineering

Housekeeping to address a few major warnings from SonarCloud
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/CertificateTests/CertificateAmendControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/CertificateTests/CertificateAmendQueryBase.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/CertificateTests/CertificateDelete/CertificateDeleteQueryBase.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/MergeOrganisations/WhenPostingSetSecondaryEpaoEffectiveToDate.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/Register/Given_I_request_edit_standard_version_page.cs
  src/SFA.DAS.AdminService.Web.UnitTests/WhenStringUsesTitleCase.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Do minor housekeeping
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/BatchSearch/BatchSearchControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/SFA.DAS.AdminService.Web.UnitTests.csproj
  src/SFA.DAS.AdminService.Web.UnitTests/Validators/Merge/SetSecondaryEpaoEffectiveToDateViewModelValidatorTests.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Apply constraint model to assertions, to reduce possibility of confusing expected and actual values
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/BatchSearch/BatchSearchControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/Dashboard/DashboardControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/Roatp/DownloadRoatpControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/Roatp/RoatpAllowedProvidersControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/Roatp/RoatpShutterPageControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Controllers/WithdrawalApplications/WithdrawalApplicationsControllerTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Extensions/DateTimeExtensionTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Helpers/RegisterValidationCheckDateEntryValidTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Infrastructure/RoatpClients/Exceptions/RoatpApiClientExceptionTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Services/ApplicationDeterminedDateValidationServiceTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Validators/AddApplicationDeterminedDateViewModelValidatorTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Validators/AddOrganisationViaUkprnViewModelValidatorTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Validators/Roatp/ApplicationDownloadRequestValidatorTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/Validators/Roatp/Applications/RoatpSearchTermValidatorTests.cs
  src/SFA.DAS.AdminService.Web.UnitTests/WhenStringUsesTitleCase.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Removed two app service setting to test swap slot issue
  azure/template.json
Owners: @SkillsFundingAgency/das-platform-engineering

Removed two app settings to test swap slots error
  azure/template.json
Owners: @SkillsFundingAgency/das-platform-engineering

Replaced non-functioning extension method on the automapper with explicit mapping, removed extension file
  src/SFA.DAS.AdminService.Web/AutoMapperProfiles/AutoMapperMappings.cs
  src/SFA.DAS.AdminService.Web/AutoMapperProfiles/AutomapperExtensions.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Added test for mapping
  src/SFA.DAS.AdminService.Web.Tests/Controllers/Register/Given_I_request_edit_standard_version_page.cs
  src/SFA.DAS.AdminService.Web.Tests/Controllers/Register/WhenGettingUserViewModel.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Add assertion in WhenGettingUserViewModel.cs
  src/SFA.DAS.AdminService.Web.Tests/Controllers/Register/WhenGettingUserViewModel.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Extracted the GetUserViewModel method into it's own class for easier testing purposes. Replaced the controller unit test with a test to cover the new class.
  src/SFA.DAS.AdminService.Web.Tests/Controllers/Register/WhenGettingUserViewModel.cs
  src/SFA.DAS.AdminService.Web.Tests/Helpers/UserViewModelHelperTests.cs
  src/SFA.DAS.AdminService.Web/Controllers/RegisterUserController.cs
  src/SFA.DAS.AdminService.Web/Helpers/IUserViewModelHelper.cs
  src/SFA.DAS.AdminService.Web/Helpers/UserViewModelHelper.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Re-added test file removed in error
  src/SFA.DAS.AdminService.Web.Tests/Controllers/Register/Given_I_request_edit_standard_version_page.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Removed unnecessary usings to correct code smell
  src/SFA.DAS.AdminService.Web/Controllers/RegisterUserController.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Removed redundant CompaniesHouseApiClient code
  src/SFA.DAS.AdminService.Web/Infrastructure/CompaniesHouseApiClient.cs
  src/SFA.DAS.AdminService.Web/Infrastructure/ICompaniesHopuseApiClient.cs
  src/SFA.DAS.AdminService.Web/Startup.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Reorganised controller so that the methods are responsible for the helper used within those methods
  src/SFA.DAS.AdminService.Web.Tests/Controllers/Register/Given_I_request_edit_standard_version_page.cs
  src/SFA.DAS.AdminService.Web/Controllers/RegisterUserController.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Moved user view model method into orchestrator folder, replaced newing up orchestrators in the controller with DI
  src/SFA.DAS.AdminService.Web.Tests/Orchestrators/UserViewModelOrchestratorTests.cs
  src/SFA.DAS.AdminService.Web/Controllers/RegisterUserController.cs
  src/SFA.DAS.AdminService.Web/Orchestrators/IUserViewModelOrchestrator.cs
  src/SFA.DAS.AdminService.Web/Orchestrators/UserViewModelOrchestrator.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Renamed RegisterUserOrchestrator
  src/SFA.DAS.AdminService.Web.Tests/Orchestrators/RegisterUserOrchestratorTests.cs
  src/SFA.DAS.AdminService.Web/Controllers/RegisterUserController.cs
  src/SFA.DAS.AdminService.Web/Orchestrators/IRegisterUserOrchestrator.cs
  src/SFA.DAS.AdminService.Web/Orchestrators/RegisterUserOrchestrator.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Incrementally introduce same changes as original branch to find deployment failure point
  src/SFA.DAS.AdminService.Web/Infrastructure/CompaniesHouseApiClient.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Incrementally introduce same changes as original branch to find deployment failure point
  src/SFA.DAS.AdminService.Web.Tests/SFA.DAS.AdminService.Web.Tests.csproj
  src/SFA.DAS.AdminService.Web/Infrastructure/IRoatpApplyTokenService.cs
  src/SFA.DAS.AdminService.Web/Infrastructure/RoatpApplyTokenService.cs
  src/SFA.DAS.AdminService.Web/Infrastructure/RoatpTokenService.cs
  src/SFA.DAS.AdminService.Web/SFA.DAS.AdminService.Web.csproj
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Removed Azure.Identity to see if that will fix deployment issues
  src/SFA.DAS.AdminService.Web/Infrastructure/RoatpTokenService.cs
  src/SFA.DAS.AdminService.Web/SFA.DAS.AdminService.Web.csproj
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Backed out more code to see if it fixes deployment issue
  src/SFA.DAS.AdminService.Web.Tests/SFA.DAS.AdminService.Web.Tests.csproj
  src/SFA.DAS.AdminService.Web/Infrastructure/RoatpTokenService.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Removed more whitespace changes
  src/SFA.DAS.AdminService.Web/Infrastructure/RoatpApplyTokenService.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Whitespace revert
  src/SFA.DAS.AdminService.Web/Infrastructure/IRoatpApplyTokenService.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Remove the minimum length check for Given Name and Family Name
  src/SFA.DAS.AdminService.Web/Services/AnswerInjectionService.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

QF-1221 Remove an unused endpoint from the client interface and implementation
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/IOrganisationsApiClient.cs
  src/SFA.DAS.AssessorService.Application.Api.Client/Clients/OrganisationsApiClient.cs
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Increase the ping internal to see if that will increase the timeout on the swap slot operation
  azure/template.json
Owners: @SkillsFundingAgency/das-platform-engineering

Using MI configuration without client authentication properties
  azure/template.json
  src/SFA.DAS.AdminService.Settings/IWebConfiguration.cs
  src/SFA.DAS.AdminService.Settings/WebConfiguration.cs
  src/SFA.DAS.AdminService.Web/Infrastructure/RoatpTokenService.cs
Owners: @SkillsFundingAgency/das-platform-engineering, @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Remove obsolete linear-gradient functions from application.css
  src/SFA.DAS.AdminService.Web/wwwroot/stylesheets/application.css
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Replace @@ with @ for CSS at-rules. Remove duplicate CSS properties by only using the latest instance.
  src/SFA.DAS.AdminService.Web/Views/Shared/_ErrorPageLayout.cshtml
  src/SFA.DAS.AdminService.Web/wwwroot/stylesheets/application.css
  src/SFA.DAS.AdminService.Web/wwwroot/stylesheets/lib/flatpickr/das-datepicker.css
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Revert changes that were accidentally brought in from the PR for QF-1261
  src/SFA.DAS.AdminService.Web/wwwroot/stylesheets/application.css
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Replace double @@ with single @ for CSS at-rules. Remove duplicate CSS properties by using only the last instance of a duplicate property, which is what modern browsers do by default.
  src/SFA.DAS.AdminService.Web/Views/Shared/_ErrorPageLayout.cshtml
  src/SFA.DAS.AdminService.Web/wwwroot/stylesheets/lib/flatpickr/das-datepicker.css
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Separate the CSS into its own file, so that the compiler and SonarCloud don't get confused
  src/SFA.DAS.AdminService.Web/Views/Shared/_ErrorPageLayout.cshtml
  src/SFA.DAS.AdminService.Web/wwwroot/stylesheets/error-page-layout.css
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Commit Details: Content updates for the start page related to DfESignIn changes
  src/SFA.DAS.AdminService.Web/Views/Home/Index.cshtml
  src/SFA.DAS.AdminService.Web/Views/Shared/_Layout.cshtml
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Add table captions
  src/SFA.DAS.AdminService.Web/Views/Application/OrganisationApplication/_OrganisationApplicationsPartial.cshtml
  src/SFA.DAS.AdminService.Web/Views/Application/Page.cshtml
  src/SFA.DAS.AdminService.Web/Views/Application/Page_ReadOnly.cshtml
  src/SFA.DAS.AdminService.Web/Views/Application/StandardApplication/_StandardApplicationsPartial.cshtml
  src/SFA.DAS.AdminService.Web/Views/Application/WithdrawalApplication/_WithdrawalApplicationsPartial.cshtml
  src/SFA.DAS.AdminService.Web/Views/Apply/Financial/Application.cshtml
  src/SFA.DAS.AdminService.Web/Views/Apply/Financial/Application_ReadOnly.cshtml
  src/SFA.DAS.AdminService.Web/Views/Apply/Financial/ClosedApplications.cshtml
  src/SFA.DAS.AdminService.Web/Views/Apply/Financial/OpenApplications.cshtml
  src/SFA.DAS.AdminService.Web/Views/Apply/Financial/RejectedApplications.cshtml
  src/SFA.DAS.AdminService.Web/Views/BatchSearch/Index.cshtml
  src/SFA.DAS.AdminService.Web/Views/BatchSearch/Results.cshtml
  src/SFA.DAS.AdminService.Web/Views/ExternalApi/Index.cshtml
  src/SFA.DAS.AdminService.Web/Views/ExternalApi/UserDetails.cshtml
  src/SFA.DAS.AdminService.Web/Views/MergeOrganisations/EpaoSearchResults.cshtml
  src/SFA.DAS.AdminService.Web/Views/MergeOrganisations/_completeMergesPartial.cshtml
  src/SFA.DAS.AdminService.Web/Views/Register/EditOrganisation.cshtml
  src/SFA.DAS.AdminService.Web/Views/Register/EditOrganisationStandard.cshtml
  src/SFA.DAS.AdminService.Web/Views/Register/SearchStandardsResults.cshtml
  src/SFA.DAS.AdminService.Web/Views/Register/ViewOrganisation.cshtml
  src/SFA.DAS.AdminService.Web/Views/Register/_OrganisationStandardApplicationsPartial.cshtml
  src/SFA.DAS.AdminService.Web/Views/Register/_OrganisationStandardsPartial.cshtml
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Updated the DfESignIn Nuget PAckage with minor amendments
  src/SFA.DAS.AdminService.Web/Controllers/HomeController.cs
  src/SFA.DAS.AdminService.Web/Models/HomeViewModel.cs
  src/SFA.DAS.AdminService.Web/SFA.DAS.AdminService.Web.csproj
  src/SFA.DAS.AdminService.Web/Startup.cs
  src/SFA.DAS.AdminService.Web/Views/Home/Index.cshtml
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

Removed deprecated packages
  src/SFA.DAS.AdminService.Web/SFA.DAS.AdminService.Web.csproj
  src/SFA.DAS.AssessorService.Domain/SFA.DAS.AssessorService.Domain.csproj
Owners: @MarkFCain, @alandburns, @ChrisJWoodcock, @cofaulco, @chrisfoster76

.github/CODEOWNERS:

# CODEOWNERS file for das-admin-service.
# The following users will be automatically added as Reviewers to all PRs.
* @MarkFCain @alandburns @ChrisJWoodcock @cofaulco @chrisfoster76 

#Requires review from DevOps when making changes to the following files/folders
.github/CODEOWNERS      @SkillsFundingAgency/das-platform-engineering
/azure/                 @SkillsFundingAgency/das-platform-engineering
azure-pipelines.yml     @SkillsFundingAgency/das-platform-engineering
/pipeline-templates/    @SkillsFundingAgency/das-platform-engineering
GitVersion.yml          @SkillsFundingAgency/das-platform-engineering
